:root {
  --fg: 0, 0, 0;
  --bg: 255, 255, 255;
}

html {
  font-size: 1.20vw;
  -webkit-text-size-adjust: none;
}

body {
  font-family: 'Merriweather', 'Noto Sans Math', serif;
  font-weight: 350;
  --gutter: 1.5rem;
  width: calc(100% - var(--gutter) * 2);
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.35;
  color: rgba(var(--fg), 1);
  background-color: rgba(var(--bg), 1);
}

* {
  box-sizing: border-box;
}


/* Headings */

h1, h2, h3, h4, h5 {
  font-family: 'Crete Round';
  font-weight: 400;
  font-style: normal;
  text-wrap: pretty;
  letter-spacing: -0.025em;
  margin: 0.75em 0 0.25em 0;
}
h1 {
  line-height: 1.1;
}
h2, h3, h4, h5 {
  letter-spacing: -0.035em;
  font-style: italic;
}
h1 { font-size: 300%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 115%; }

h2:target,
h3:target,
h4:target,
h5:target {
  scroll-padding-top: 2em;
}
h2 .toclink,
h3 .toclink,
h4 .toclink,
h5 .toclink {
  position: relative;
  text-decoration: none;
  color: inherit;
}
h2 .toclink::before,
h3 .toclink::before,
h4 .toclink::before,
h5 .toclink::before {
  content: '¶';
  position: absolute;
  top: 0;
  left: -1.5em;
  width: 2em;
  padding: 0 0.5em 0.5em 0.5em;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
h2 .toclink:hover::before,
h3 .toclink:hover::before,
h4 .toclink:hover::before,
h5 .toclink:hover::before {
  opacity: 0.3;
}
h2:target .toclink::before,
h3:target .toclink::before,
h4:target .toclink::before,
h5:target .toclink::before {
  opacity: 1.0;
}


/* Post content. */

main {
  padding: 0.50em var(--gutter) 0 var(--gutter);
}
article {
  margin-bottom: 0.75em;
}
main > time,
main > address {
  font-style: italic;
  font-size: 75%;
  color: rgba(var(--fg), 0.8);
}
article ul, article ol {
  margin: 1em 2em 0 2em;
}
article li {
  list-style: disc;
  padding: 0.25em;
}
article ol li {
  list-style: decimal;
}
article p {
  padding: 1em 0 0 0;
}
article h2 + p,
article h3 + p,
article h4 + p,
article h5 + p {
  padding-top: 0.5em;
}
article > p {
  text-align: justify;
  text-wrap: pretty;
  hyphens: auto;
}
article li p {
  padding: 0; 
}
article > .highlight,
article > pre {
  margin-top: 1em;
}
main em {
  font-style: italic;
}
article strong {
  font-weight: 700;
}
article sub {
  font-size: 75%;
  position: relative;
  top: 0.25em;
}
article pre {
  padding: 1em 1em;
  border: 0.05em solid #666;
  white-space: pre-wrap;
}
article > .highlight,
article > pre,
article p code,
article ul code,
article ol code {
  font-family: 'Monaspace Neon', 'Noto Sans Math', courier;
  font-weight: 400;
  font-size: 85%;
  background-color: rgba(var(--fg), 0.05);
}
article p code,
article ul code,
article ol code {
  padding: 0 0.25em;
  white-space: nowrap;
}
blockquote {
  font-style: italic;
  padding: 0.5em;
}
article blockquote {
  position: relative;
  margin: 1.75em 0 0.25em 0;
  padding: 0 2.5em;
}
article blockquote::before {
  position: absolute;
  top: -0.25em;
  left: 0;
  content: '“';
  font-size: 400%;
  opacity: 0.2;
}
article blockquote p:first-child {
  padding: 0; 
}
article blockquote strong {
  font-style: inherit;
}
article small {
  font-style: italic;
  font-size: 75%;
  color: rgba(var(--fg), 0.5);
}
article .image {
  margin: 1em 0;
  text-align: center;
}
article .image a img {
  border: 0.1em solid blue;
  max-width: 100%;
}
article .image a:visited img {
  border: 0.1em solid purple;
}
article .center {
  text-align: center;
}
article > hr:last-child {
  margin-top: 1.5em;
}


/* Footer */

footer {
  display: block;
  width: 100%;
  padding: 0 var(--gutter) 2em var(--gutter);
}
footer > * {
  display: inline;
  line-height: 4em;
  padding: 0 0.5em;
}
footer > *:first-child {
  padding-left: 0;
}
footer > *:last-child {
  padding-right: 0;
}


/* Dark mode */

@media (prefers-color-scheme:dark) {
  :root {
    --fg: 208, 208, 208;
    --bg: 36, 36, 36;
  }
  h1, h2, h3, h4, h5, a {
    color: rgba(var(--fg), 1);
  }
  h1, h2, h3, h4, h5 {
    --fg: 255, 255, 255;
  }
  a {
    --fg: 180, 180, 230;
  }
  a:hover,
  a:visited {
    --fg: 230, 180, 230;
  }
}


/* Mobile */

@media screen and (max-width: 899px) {
  html {
    font-size: 3.75vw;
  }
  body {
    max-width: 65ch;
    --gutter: 1.25rem;
  }
  h1 { font-size: 190%; }
  h2 { font-size: 160%; }
  h3 { font-size: 140%; }
  h4 { font-size: 125%; }
  h5 { font-size: 110%; }
  h2 .toclink::before,
  h3 .toclink::before,
  h4 .toclink::before,
  h5 .toclink::before {
    left: calc(-1 * var(--gutter));
    width: var(--gutter);
    padding: 0;
    text-align: center;
  }
  main {
    padding: 0;
  }
  article > .highlight,
  article > pre {
    width: calc(100% + var(--gutter) * 2);
    margin-left: calc(-1 * var(--gutter));
  }
  article > .pre {
    margin: 0;
  }
  article .highlight,
  article pre {
    border-left: none;
    border-right: none;
  }
  article > .highlight,
  article > pre {
    font-size: 60%;
  }
  article > .highlight > pre,
  article > pre {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
  footer {
    padding: 0 0 1em 0;
  }
}

