/* Text typeface. */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 350;
  src: url('../fonts/Merriweather-Book.woff') format(woff);
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 350;
  src: url('../fonts/Merriweather-BookItalic.woff') format(woff);
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Merriweather-Bold.woff') format(woff);
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Merriweather-BoldItalic.woff') format(woff);
}
/* Display typeface for headings. */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/CreteRound-Regular.woff') format(woff),
    url('../fonts/CreteRound-Regular.ttf') format(truetype);
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/CreteRound-Italic.woff') format(woff),
    url('../fonts/CreteRound-Italic.ttf') format(truetype);
}
/* Monospace typeface for code. */
@font-face {
  font-family: 'Monaspace Neon';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/MonaspaceNeon-Regular.woff') format(woff),
    url('../fonts/MonaspaceNeon-Regular.ttf') format(truetype);
}
@font-face {
  font-family: 'Monaspace Neon';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/MonaspaceNeon-Italic.woff') format(woff),
    url('../fonts/MonaspaceNeon-Italic.ttf') format(truetype);
}
@font-face {
  font-family: 'Monaspace Neon';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/MonaspaceNeon-Bold.woff') format(woff),
    url('../fonts/MonaspaceNeon-Bold.ttf') format(truetype);
}
/* Math typeface. */
@font-face {
  font-family: 'Noto Sans Math';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/NotoSansMath-Regular.woff') format(woff),
    url('../fonts/NotoSansMath-Regular.ttf') format(truetype);
}
