/* Text typeface. */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/PTSerif-Regular.woff') format(woff),
    url('../fonts/PTSerif-Regular.ttf') format(truetype);
}
/* Display typeface for headings. */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/CreteRound-Regular.woff') format(woff),
    url('../fonts/CreteRound-Regular.ttf') format(truetype);
}


html {
  font-size: 1.4vw;
  -webkit-text-size-adjust: none;
}

#main {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  columns: 2;
  padding: 2em;
}

* {
  line-height: 1.35;
  box-sizing: border-box;
}

h2 {
  font-family: 'Crete Round';
  font-size: 250%;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0.5em;
  letter-spacing: -0.035em;
}
p {
  margin-bottom: 1em;
}
img {
  margin: 1em 0;
  width: 100%;
}


#main .info,
#main .posts {
  max-width: calc(70ch - 2em);
  padding: 0 1em 1em 1em;
}
#main .footer {
  display: none;
}

#main .posts {
  break-inside: avoid;
}
#main .posts i {
  display: inline-block;
  width: 4.5em;
  font-style: normal;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 3vw;
  }
  #main {
    columns: 1;
    padding: 1em;
  }
  #main .info {
    font-size: calc(3.5 / 3 * 100%);
  }
  #main .posts li {
    line-height: 1.5;
  }
}
