<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.title }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% if page.image %}
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}" />
  <meta name="image_src" content="{{ site.url }}/{{ page.image }}" />
  <meta property="og:image" content="{{ site.url }}/{{ page.image }}"/>
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} (RSS 2.0)" href="{{ site.url }}/rss.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} (Atom 1.0)" href="{{ site.url }}/atom.xml" />
  <link rel="stylesheet" href="{{ page.root }}/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="{{ page.root }}/css/blog/main.css?_=1615588575" type="text/css" />
  <link rel="stylesheet" href="{{ page.root }}/css/blog/syntax.css" type="text/css" />
  <title>{{ page.title }}</title>
</head>
<body class="">

  <main class="post">
    <h1>{{ page.title }}</h1>
    <time class="top-date" datetime="{{ page.date | strftime("%Y-%m-%d") }}">{{ page.date | strftime("%A, %B %d, %Y") }}.</time>
    <article class="content">
      <hr/>
      {% filter markdown %}
      {{ content | safe }}
      {% endfilter %}
    </article>
    <em>Posted by <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a> on {{ page.date | strftime("%A, %B %d, %Y") }}.</em>
  </main>

  <footer id="footer">
    <a href="../">Home</a>
    <a href="./atom.xml">Atom</a>
    <a href="./rss.xml">RSS</a>
    <a href="https://github.com/{{ site.github }}">Fork</a>
  </footer>

</body>
</html>
