{% include "../_include/blog/begin.html" %}
{% include "../_include/blog/header.html" %}

<div class="post">
  <h2>{{ page.title }}</h2>
  <div class="top-date">{{ page.date | strftime("%A, %B %d, %Y") }}.</div>
  <div class="content">
  {% filter markdown %}
  {{ content | safe }}
  {% endfilter %}
  </div>
  <em>Posted by <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a> on {{ page.date | strftime("%A, %B %d, %Y") }}.</em>
</div>

{% include "../_include/blog/footer.html" %}
{% include "../_include/blog/end.html" %}
