<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{ page.root }}/css/reset.css" type="text/css">
  <link rel="stylesheet" href="{{ page.root }}/css/fonts.css?_=1752425853" type="text/css">
  <link rel="stylesheet" href="{{ page.root }}/css/home.css?_=1752425853" type="text/css">
  <title>{{ page.title }}</title>
</head>
<body class="home">

<div id="main">

  <div class="info">
  {% filter markdown %}
  {{ content | safe }}
  {% endfilter %}
  </div>

  <div class="posts">
    <h2>Selected Posts</h2>
    <ul>
    {% for post in posts %}
      {% if not post.buried %}
      <li>
        <i>{{ post.date | string | truncate(7, False, '') }}</i>
        <a href="./blog/{{ post.slug }}">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="footer">
  </div>

</div>

</body>
</html>
