<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ page.root }}/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="{{ page.root }}/css/home.css" type="text/css" />
</head>
<body class="home">

<div id="main">

  <div class="info">
  {% filter markdown %}
  {{ content | safe }}
  {% endfilter %}
  </div>

  <div class="posts">
    <h3>selected posts</h3>
    <ul>
    {% for post in posts %}
      {% if not post.buried %}
      <li>
        <i>{{ post.date | string | truncate(7, False, '') }}</i>
        <a href="./blog/{{ post.slug }}">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="footer">
  </div>

</div>

<!-- Google Analytics -->
{% include "_include/google-analytics.html" %}

</body>
</html>
